@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Hi, i'm Joel Hilton</h1>
    <p><marquee behavior="alternate">Welcome to my bussin' website</marquee></p>
</div>



<img src="~/images/JoelHiltonHeadshot.jpg" class="center"/>